* {
   margin: 0;
   padding: 0;
}

body {

   font-family: 'Poppins', sans-serif;
}

h1 {
   font-size: 50px;
}

h2 {
   font-size: 40px;
   font-weight: 600;
}

h3 {
   font-size: 25px;
}

h4 {
   font-size: 20px;
   font-weight: 600;
}

.top-container {
   background-image: url(images/donation5.jpg);
   background-repeat: no-repeat;
   height: 600px;
   background-size: cover;
   margin-bottom: 80px;
}

.top-banner {
   color: #fff;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   background-color: rgba(0, 0, 0, 0.7);

}

.top-banner h1 {
   width: 615px;
   text-align: center;
   font-weight: 600;
   margin-bottom: 35px;
}

.top-banner p {
   width: 615px;
   text-align: center;
   font-size: 19px;
   margin-bottom: 30px;
}

a.donate-button {
   text-decoration: none;
   padding: 10px 20px;
   background-color: tomato;
   border: none;
   border-radius: 5px;
   color: #fff;
}

section.donate-day {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;

}

section.donate-day h2 {
   margin-bottom: 15px;
   width: 700px;
   text-align: center;
}

section.donate-day p {
   margin-bottom: 40px;
   width: 700px;
   text-align: center;
}

.donate-amount {
   display: flex;
   justify-content: center;
   flex-direction: row;
   align-items: center;
   margin-bottom: 50px;
}

.money {
   padding: 25px 20px;
   background-color: rgb(236, 232, 232);
   margin: 10px;
   border-radius: 5px;
}

.active-money {
   border: 1px solid tomato;
   color: tomato;
}

.input-amount {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-bottom: 100px;
}

.amount-hold {
   width: 800px;
   margin: 30px auto;
}

#amount{
   width: 800px;
   text-align: center;
   padding: 9px;
   border-bottom: 3px solid #ddd !important;
   border: none;
   font-size: 18px;
}

.container {
   width: 1270px;
   margin: 80px auto;
}

.donate-plan {
   display: flex;
}

.plan {
   padding: 70px 20px;
   width: 350px;
   background-color: #ddd;
   margin: 0 20px;
   border-radius: 5px;
}

.plan img {
   margin-bottom: 25px;
}

.plan h4 {
   margin-bottom: 30px;
}

#first-bg-color {
   background-color: #ddd;
}

#second-bg-color {
   background-color: #FFB6C1
}

#third-bg-color {
   background-color: #F7E7CE;
}

.contribute {
   display: flex;
}

.half-contribute {
   width: 685px;
   margin: 0 20px;

}

.half-contribute h2 {
   padding: 50px 0 30px 0;

}

.half-contribute p {
   padding: 10px 0 30px 0;
}

.half-contribute img {
   width: 100%;
   height: 100%;
   border-radius: 10px;
}

.email-section {
   width: 800px;
   height: 200px;
   background-color:#d6b5b3;
   margin: 0 auto;
   
}


.subcribe {
   padding: 77px;
   display: flex;
   margin-bottom: 150px;
}


input[type="email"] {
   padding: 15px;
   width: 300px;
   background-color: #ddd;
   border: none;
   margin-left: 85px;
   border-radius: 5px 0 0 5px;
}

input[type="submit"] {
   width: 150px;
   font-size: 18px;
   background-color: tomato;
   color: #fff;
   border-radius: 0 5px 5px 0;
   border: none;
   cursor: pointer;
}
footer{
   background-color: black;
   color: #fff;
   padding: 40px;
   text-align: center;
   margin-top: 100px;
}
.orange-color{
   color: orange;

}
.contact-us {
   display: flex;
}
.half-width {
   width: 635px;
}
.half-width h1 {
   margin-bottom: 20px;
}
.contact {
   width: 600px;
   padding: 10px;
   font-size: 15px;
   margin-bottom: 35px;
   border-radius: 5px;
   border: 3px solid #ddd;
}

